@use "base";
@use "components";
@use "layout";
@use "utilities";
@use "vendor";

.server-status {
  display: grid;
  place-content: center;
  padding-block-end: 0;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
