@use "../abstracts/" as *;

.game {
  height: 100%;
  display: grid;
  place-content: center;
  align-items: center;
}

.game-info {
  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.board-row {
  font-size: 1rem;
  @include mq(medium) {
    font-size: 2rem;
  }
}

.square {
  float: left;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;

  &:hover {
    background-color: $color-neutral-100;
  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
